.hero {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.header {
    display: flex;
    align-items: center;
    position: relative;
}
